* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #0b0b0b;
}


.parent {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;   
  justify-content: flex-start;
}

.card {
  width: 300px;
  border: 1px solid #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.card p {
  margin: 20px 0;
}

.card button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
}
